
<h1>Ficha de artículo</h1>
{{ mode }} // {{ itemId }}

<form *ngIf="itemForm" [formGroup]="itemForm!" novalidate autocomplete="off">

    <div class="form-group">
        <label for="id">Id</label>
        <input type="number" class="form-control" id="price" formControlName="id" >
    </div>

 
    <div class="form-group">
        <label for="categoryId">Categoria</label>
        <p-autoComplete formControlName="category" name="category" [suggestions]="categories" 
        (completeMethod)="getAllCategories($event)" field="name" 
        [forceSelection]="true"></p-autoComplete>
    </div>


    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" formControlName="name">
    </div>


    <div *ngIf="(itemForm.get('name')!.dirty && itemForm.get('name')!.errors)">
        <small class="form-text text-danger"
        *ngIf="itemForm.get('name')!.errors!['required']">
        Este campo es requerido
        </small>
        <small class="form-text text-danger"
        *ngIf="itemForm.get('name')!.errors!['minlength']">
        Este campo tiene que tener una longitud mínima de 3 caracteres
        </small>
    </div>


    <!-- Descripción -->
    <div class="form-group">
        <label for="description">Descripción</label>
        <input type="text" class="form-control" id="description" formControlName="description">
    </div>

    <!-- Precio -->
    <div class="form-group">
        <label for="precio">Precio</label>
        <input type="number" class="form-control" id="precio" formControlName="price">
    </div>

    <!-- Validación price -->
    <div *ngIf="itemForm.get('price')!.errors && itemForm.get('price')!.errors">
        <small class="form-text text-danger" *ngIf="itemForm.get('price')!.errors!['required']!">
        Este campo es requerido
        </small>

        <small class="form-text text-danger"  *ngIf="itemForm.get('name')!.errors!['min']">
        El valor debe ser positivo
        </small>

    </div>
 



    <!-- Imagen -->
    <div class="form-group" >
        <label for="image">Imagen</label>
        <input type="file" id="image" class="form-control" (change)="includeImageInItem($event);">
        <img *ngIf="item!.image" [src]="'data:image/webp;base64,' + item!.image"> 
    </div>


    <div class="buttonsForm">
        <button (click)="saveItem()" [disabled]="itemForm.invalid">Guardar</button>
    </div>

</form>
